These are the OxoG-filtered (with an OxoQ Score of {{ OxoQScore }}) and Annotated VCFs for specimen {{ specimenID }} from donor {{ donorID }},
based on the VCFs produced from the core variant calling workflows.
The results consist of one or more VCF files plus optional tar.gz files that contain additional file types.
This uses the {{ workflowName }} workflow, version {{ workflowVersion }} available at {{ workflowURL }}.
This workflow can be created from source, see {{ workflowSrcURL }}.
For a complete change log see {{ changeLogURL }}.
{{ descriptionSuffix }}