		if (( $(zcat {{ extractedSNVVCFPath }} | grep "^[^#]" | wc -l) > 0 )) ; then
			echo "{{ extractedSNVVCFPath }} has SNVs."
			EXTRACTED_SNV_MOUNT=" ${EXTRACTED_SNV_MOUNT} -v  {{ extractedSNVVCFPath }}:/datafiles/VCF/{{ worfklow }}/{{ extractedSNVVCF }} "
			EXTRACTED_SNV_FILES=" ${EXTRACTED_SNV_FILES} /datafiles/VCF/{{ worfklow }}/{{ extractedSNVVCF }} "
		fi
