(
sudo chmod a+rw -R /datastore/vcf/ \n( for f in $(ls /datastore/vcf/{{workflowName}}/*/*.vcf.gz | grep -v pass | tr '\\n' ' ' ) ; do
    echo \"processing $f\"
    bgzip -d -c $f | grep -Po \"^#.*$|([^\t]*\t){6}(PASS\t|\\.\t).*\" > ${f/.vcf.gz/}.pass-filtered.vcf
    bgzip -f ${f/.vcf.gz/}.pass-filtered.vcf
    #bgzip -d -c $f | grep -Pv \"^#.*$|([^\t]*\t){6}(PASS\t|\\.\t).*\" > ${f/.vcf.gz/}.non-pass-filtered.vcf
    #bgzip -f ${f/.vcf.gz/}.non-pass-filtered.vcf
done) || {{moveToFailed}}